.content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;

}

.header__content{
    align-items: center;
    padding: $s-size;
    display: flex;
    justify-content: space-between;
}