.header{
    background: $dark_blue;
    color: white;
 
    padding: $m-size 0


}

.page-header__actions{
    margin-top: $m-size;

}

.header__title {
    color: white;
    text-decoration: none;

    
    margin: 0;
    h1 {
        font-size: 1.2em;
        margin: 0;
    }
}

.header__subtitle{
    color: white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;

}


@media (min-width: $desktop-breakpoint){
    .header{
  
 
    }
    .header__title {
        
    }
}