.input-group{
    margin-bottom: $m-size;
  
    display: flex;
    flex-direction: column;
 
    @media (min-width: $desktop-breakpoint){
        flex-direction: row;
        margin-bottom: $l-size;
    }
}



.input-group__item{
    margin-right: $s-size;
    margin-bottom: $s-size;

    @media (min-width: $desktop-breakpoint){
        flex-direction: row;
         
        margin: 0 $s-size 0 0;
    }
}